@model IEnumerable<DoAnDuLich.Models.TinTuc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Quản lý Tin Tức</h2>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
            <a href="@Url.Action("Create", "QLTinTucs")" class="btn btn-success btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-check"></i>
                </span>
                <span class="text">Thêm Tour mới</span>
            </a>
        </h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.TieuDe)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Anh)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TGDangTin)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NoiDung)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.GioiThieu)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LoaiTinTuc.TenLoaiTin)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.TieuDe)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Anh)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TGDangTin)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NoiDung)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.GioiThieu)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LoaiTinTuc.TenLoaiTin)
                        </th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TieuDe)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Anh)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TGDangTin)
                        </td>
                        @if (item.NoiDung.Length > 200)
                        {
                            <td>
                                @item.NoiDung.Substring(0, 200) ...
                            </td>
                        }
                        else
                        {
                            <td>
                                @item.NoiDung
                            </td>
                        }

                        @if (item.GioiThieu.Length > 100)
                        {
                            <td>
                                @item.GioiThieu.Substring(0, 100) ...
                            </td>
                        }
                        else
                        {
                            <td>
                                @item.GioiThieu
                            </td>
                        }
                        <td>
                            @Html.DisplayFor(modelItem => item.LoaiTinTuc.TenLoaiTin)
                        </td>
                        <td>
                            @Html.ActionLink("Sửa", "Edit", new { id = item.MaTin },new {@class="btn btn-primary" }) |
                            @Html.ActionLink("Xem", "Details", new { id = item.MaTin },new {@class="btn btn-success" }) |
                            @Html.ActionLink("Xóa", "Delete", new { id = item.MaTin },new {@class="btn btn-danger" })
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>