@model IEnumerable<DoAnDuLich.Models.LoaiTour>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenLoaiTour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Anh)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenLoaiTour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Anh)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaLoaiTour }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaLoaiTour }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaLoaiTour })
        </td>
    </tr>
}

</table>
