@using DoAnDuLich.Models
@model IEnumerable<BinhLuan>
@{
    ViewBag.Title = "DanhSachBinhLuan";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Duyet Comment
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Ho Ten</th>
                        <th>Ten Tour</th>
                        <th>Noi Dung</th>
                        <th>Chuc nang</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Ho Ten</th>
                        <th>Ten Tour</th>
                        <th>Noi Dung</th>
                        <th>Chuc nang</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.KhachHang.HoTen)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Tour.TenTour)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NoiDung)
                            </td>
                            <td>
                                @Html.ActionLink("Chi tiet", "ChiTietBL", new { maBinhLuan = item.MaBinhLuan })|
                                @Html.ActionLink("Xoa", "XoaBinhLuan", new { maBinhLuan = item.MaBinhLuan })|
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

